Python can be used in database applications.
One of the most popular databases is MySQL.

#### MySQL Database

To be able to experiment with the code examples in this tutorial, you should have MySQL installed on your computer.

You can download a MySQL database at https://www.mysql.com/downloads/.

#### Install MySQL Driver

Python needs a MySQL driver to access the MySQL database.

In this tutorial we will use the driver "MySQL Connector".

We recommend that you use PIP to install "MySQL Connector".

PIP is most likely already installed in your Python environment.

Navigate your command line to the location of PIP, and type the following:

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp39-cp39-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.4.0-cp39-cp39-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
    --------------------------------------- 0.3/16.4 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.4 MB 1.4 MB/s eta 0:00:12
   - -------------------------------------- 0.8/16.4 MB 1.2 MB/s eta 0:00:14
   - -------------------------------------- 0.8/16.4 MB 1.2 MB/s eta 0:00:14
   -- ------------------------------------- 1.0/16.4 MB 1.0 MB/s eta 0:00:15
   --- ------------------------------------ 1.3/16.4 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.3/16.4 MB 1.1 MB/s eta 0:00:14
   --- ------------------------------------ 1.6/16.4 MB 942.3 kB/s eta 0:00:16
   ---- ----------------------------------- 1.8/16.4 MB 967.9 kB/s eta 0:00:16
   ----- ---------------------------------- 2.1/16.4 MB 1.0 MB/s eta 0:00:14
   ----- ---------------------------------- 2.4/16.4 MB 1.0 MB/s eta 0:00:14
   ------ --------------------------------- 2.6/16.4 MB 1.0 MB/s eta 0:00:14
   ------ --------------------------------- 2.6/16.4 MB 1.0 MB/s eta 0:00:14
   ------- -------------------------------- 2.9/16.4 MB 981.1 kB/s eta 0:00:14
   ------- -------------------------------- 2.9/16.4 MB 981.1 kB/s eta 0:00:14
   ------- -------------------------------- 3.1/16.4 MB 951.4 kB/s eta 0:00:14
   ------- -------------------------------- 3.1/16.4 MB 951.4 kB/s eta 0:00:14
   -------- ------------------------------- 3.4/16.4 MB 871.6 kB/s eta 0:00:15
   -------- ------------------------------- 3.4/16.4 MB 871.6 kB/s eta 0:00:15
   -------- ------------------------------- 3.7/16.4 MB 890.2 kB/s eta 0:00:15
   -------- ------------------------------- 3.7/16.4 MB 890.2 kB/s eta 0:00:15
   --------- ------------------------------ 3.9/16.4 MB 863.5 kB/s eta 0:00:15
   ---------- ----------------------------- 4.2/16.4 MB 879.9 kB/s eta 0:00:14
   ---------- ----------------------------- 4.5/16.4 MB 877.3 kB/s eta 0:00:14
   ---------- ----------------------------- 4.5/16.4 MB 877.3 kB/s eta 0:00:14
   ----------- ---------------------------- 4.7/16.4 MB 853.9 kB/s eta 0:00:14
   ----------- ---------------------------- 4.7/16.4 MB 853.9 kB/s eta 0:00:14
   ------------ --------------------------- 5.0/16.4 MB 855.4 kB/s eta 0:00:14
   ------------ --------------------------- 5.2/16.4 MB 866.2 kB/s eta 0:00:13
   ------------ --------------------------- 5.2/16.4 MB 866.2 kB/s eta 0:00:13
   ------------- -------------------------- 5.5/16.4 MB 849.5 kB/s eta 0:00:13
   ------------- -------------------------- 5.5/16.4 MB 849.5 kB/s eta 0:00:13
   ------------- -------------------------- 5.5/16.4 MB 849.5 kB/s eta 0:00:13
   ------------- -------------------------- 5.5/16.4 MB 849.5 kB/s eta 0:00:13
   ------------- -------------------------- 5.5/16.4 MB 849.5 kB/s eta 0:00:13
   -------------- ------------------------- 5.8/16.4 MB 770.9 kB/s eta 0:00:14
   -------------- ------------------------- 6.0/16.4 MB 773.8 kB/s eta 0:00:14
   --------------- ------------------------ 6.6/16.4 MB 811.8 kB/s eta 0:00:13
   ---------------- ----------------------- 6.8/16.4 MB 833.9 kB/s eta 0:00:12
   ---------------- ----------------------- 6.8/16.4 MB 833.9 kB/s eta 0:00:12
   ----------------- ---------------------- 7.1/16.4 MB 821.5 kB/s eta 0:00:12
   ----------------- ---------------------- 7.3/16.4 MB 842.0 kB/s eta 0:00:11
   ------------------ --------------------- 7.6/16.4 MB 851.0 kB/s eta 0:00:11
   ------------------ --------------------- 7.6/16.4 MB 851.0 kB/s eta 0:00:11
   ------------------- -------------------- 7.9/16.4 MB 831.7 kB/s eta 0:00:11
   ------------------- -------------------- 8.1/16.4 MB 841.6 kB/s eta 0:00:10
   --------------------- ------------------ 8.7/16.4 MB 874.4 kB/s eta 0:00:09
   --------------------- ------------------ 8.9/16.4 MB 891.6 kB/s eta 0:00:09
   --------------------- ------------------ 8.9/16.4 MB 891.6 kB/s eta 0:00:09
   ---------------------- ----------------- 9.2/16.4 MB 878.9 kB/s eta 0:00:09
   ----------------------- ---------------- 9.4/16.4 MB 884.3 kB/s eta 0:00:08
   ----------------------- ---------------- 9.7/16.4 MB 886.9 kB/s eta 0:00:08
   ----------------------- ---------------- 9.7/16.4 MB 886.9 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.4 MB 884.2 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.4 MB 884.2 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.4 MB 884.2 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.4 MB 884.2 kB/s eta 0:00:08
   ------------------------ --------------- 10.0/16.4 MB 884.2 kB/s eta 0:00:08
   ------------------------ --------------- 10.2/16.4 MB 826.9 kB/s eta 0:00:08
   ------------------------- -------------- 10.5/16.4 MB 836.7 kB/s eta 0:00:08
   -------------------------- ------------- 10.7/16.4 MB 842.0 kB/s eta 0:00:07
   -------------------------- ------------- 10.7/16.4 MB 842.0 kB/s eta 0:00:07
   -------------------------- ------------- 11.0/16.4 MB 833.8 kB/s eta 0:00:07
   -------------------------- ------------- 11.0/16.4 MB 833.8 kB/s eta 0:00:07
   ---------------------------- ----------- 11.5/16.4 MB 846.8 kB/s eta 0:00:06
   ---------------------------- ----------- 11.8/16.4 MB 855.4 kB/s eta 0:00:06
   ---------------------------- ----------- 11.8/16.4 MB 855.4 kB/s eta 0:00:06
   ----------------------------- ---------- 12.1/16.4 MB 852.1 kB/s eta 0:00:06
   ----------------------------- ---------- 12.1/16.4 MB 852.1 kB/s eta 0:00:06
   ------------------------------ --------- 12.3/16.4 MB 848.1 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.4 MB 844.2 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.4 MB 844.2 kB/s eta 0:00:05
   ------------------------------ --------- 12.6/16.4 MB 844.2 kB/s eta 0:00:05
   ------------------------------- -------- 13.1/16.4 MB 844.0 kB/s eta 0:00:04
   ------------------------------- -------- 13.1/16.4 MB 844.0 kB/s eta 0:00:04
   -------------------------------- ------- 13.4/16.4 MB 847.3 kB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.4 MB 846.3 kB/s eta 0:00:04
   --------------------------------- ------ 13.6/16.4 MB 846.3 kB/s eta 0:00:04
   --------------------------------- ------ 13.9/16.4 MB 848.7 kB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.4 MB 849.3 kB/s eta 0:00:03
   ---------------------------------- ----- 14.2/16.4 MB 849.3 kB/s eta 0:00:03
   ----------------------------------- ---- 14.4/16.4 MB 846.7 kB/s eta 0:00:03
   ----------------------------------- ---- 14.7/16.4 MB 845.8 kB/s eta 0:00:03
   ------------------------------------ --- 14.9/16.4 MB 854.9 kB/s eta 0:00:02
   ------------------------------------- -- 15.2/16.4 MB 863.9 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.4 MB 859.6 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.4 MB 859.6 kB/s eta 0:00:02
   ------------------------------------- -- 15.5/16.4 MB 859.6 kB/s eta 0:00:02
   -------------------------------------- - 15.7/16.4 MB 847.5 kB/s eta 0:00:01
   -------------------------------------- - 15.7/16.4 MB 847.5 kB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 842.4 kB/s eta 0:00:01
   ---------------------------------------  16.0/16.4 MB 842.4 kB/s eta 0:00:01
   ---------------------------------------  16.3/16.4 MB 838.2 kB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 836.6 kB/s  0:00:19
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
Note: you may need to restart the kernel to use updated packages.

#### Test MySQL Connector
To test if the installation was successful, or if you already have "MySQL Connector" installed, create a Python page with the following content:

In [1]:
 import mysql.connector

If the above code was executed with no errors, "MySQL Connector" is installed and ready to be used.

#### Creating a Database
To create a database in MySQL, use the "CREATE DATABASE" statement:

In [6]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")

If the above code was executed with no errors, you have successfully created a database.

#### Check if Database Exists
You can check if a database exist by listing all databases in your system by using the "SHOW DATABASES" statement:

In [7]:
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('his',)
('hisihm',)
('ihmjdbc',)
('images',)
('mydatabase',)
('mysql',)
('performance_schema',)
('test_database',)
('testdatabase',)
('tuto_php',)

Or you can try to access the database when making the connection:

In [16]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

In [17]:
type(mydb)

mysql.connector.connection_cext.CMySQLConnection

If the database does not exist, you will get an error.

#### Creating a Table
To create a table in MySQL, use the "CREATE TABLE" statement.
Make sure you define the name of the database when you create the connection

In [11]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

If the above code was executed with no errors, you have now successfully created a table.

#### Check if Table Exists
You can check if a table exist by listing all tables in your database with the "SHOW TABLES" statement:

In [18]:
mycursor = mydb.cursor()
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('customers',)

#### Delete a Table
You can delete an existing table by using the "DROP TABLE" statement:

In [15]:
sql = "DROP TABLE test"
mycursor.execute("DROP TABLE test")

Delete the table "customers" if it exists:

In [20]:
sql = "DROP TABLE IF EXISTS customers"
mycursor.execute(sql)

#### Primary Key
When creating a table, you should also create a column with a unique key for each record.
This can be done by defining a PRIMARY KEY.
We use the statement "INT AUTO_INCREMENT PRIMARY KEY" which will insert a unique number for each record. Starting at 1, and increased by one for each record.

In [21]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

If the table already exists, use the ALTER TABLE keyword:
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

#### Select From a Table
To select from a table in MySQL, use the "SELECT" statement:

In [24]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
) 
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'oussama', 'guelma')
(2, 'imed', 'guelma')

#### Selecting Columns
To select only some of the columns in a table, use the "SELECT" statement followed by the column name(s):

Note: We use the fetchall() method, which fetches all rows from the last executed statement.

In [28]:
mycursor.execute("SELECT name , address FROM customers")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('oussama', 'guelma')
('imed', 'guelma')

#### Using the fetchone() Method
If you are only interested in one row, you can use the fetchone() method.
The fetchone() method will return the first row of the result:

In [29]:
mycursor.execute("SELECT * FROM customers")
myresult = mycursor.fetchone()
print(myresult)

(1, 'oussama', 'guelma')

#### Select With a Filter
When selecting records from a table, you can filter the selection by using the "WHERE" statement:

In [31]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers WHERE address ='guelma'"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(2, 'imed', 'guelma')

#### Sort the Result
Use the ORDER BY statement to sort the result in ascending or descending order.
The ORDER BY keyword sorts the result ascending by default. To sort the result in descending order, use the DESC keyword.

In [32]:
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(2, 'imed', 'guelma')
(1, 'oussama', 'alger')

#### ORDER BY DESC
Use the DESC keyword to sort the result in a descending order.

In [33]:
sql = "SELECT * FROM customers ORDER BY name DESC"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'oussama', 'alger')
(2, 'imed', 'guelma')

#### Limit the Result
You can limit the number of records returned from the query, by using the "LIMIT" statement:

In [42]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

In [45]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers limit 2")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'oussama', 'alger')
(2, 'imed', 'guelma')

#### Start From Another Position
If you want to return five records, starting from the third record, you can use the "OFFSET" keyword:

In [52]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers limit 5 OFFSET 1")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(2, 'imed', 'guelma')
(3, 'ahmed', 'guelma')
(4, 'mohamed', 'annaba')
(5, 'imed', 'setif')
(6, 'amir', 'constanine')

#### Insert Into Table
To fill a table in MySQL, use the "INSERT INTO" statement.

In [53]:
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

#### Insert Multiple Rows
To insert multiple rows into a table, use the executemany() method.
The second parameter of the executemany() method is a list of tuples, containing the data you want to insert:

In [54]:
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

13 was inserted.

#### Get Inserted ID
You can get the id of the row you just inserted by asking the cursor object.
Note: If you insert more than one row, the id of the last inserted row is returned.

In [55]:
mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("Michelle", "Blue Village")
mycursor.execute(sql, val)
mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 21

#### Delete Record
You can delete records from an existing table by using the "DELETE FROM" statement:

In [56]:
mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.

Notice the WHERE clause in the DELETE syntax: The WHERE clause specifies which record(s) that should be deleted. If you omit the WHERE clause, all records will be deleted!

#### Update Table
You can update existing records in a table by using the "UPDATE" statement:

In [58]:
mycursor = mydb.cursor()
sql = "UPDATE customers SET address = 'guelma' , name='test' WHERE address = 'alger'"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

3 record(s) affected

Important!: Notice the statement: mydb.commit(). It is required to make the changes, otherwise no changes are made to the table.
Notice the WHERE clause in the UPDATE syntax: The WHERE clause specifies which record or records that should be updated. If you omit the WHERE clause, all records will be updated!

#### Join Two or More Tables
You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.
Consider you have a "users" table and a "products" table:

##### users
{ id: 1, name: 'John', fav: 154},
{ id: 2, name: 'Peter', fav: 154},
{ id: 3, name: 'Amy', fav: 155},
{ id: 4, name: 'Hannah', fav:},
{ id: 5, name: 'Michael', fav:}

##### products
{ id: 154, name: 'Chocolate Heaven' },
{ id: 155, name: 'Tasty Lemons' },
{ id: 156, name: 'Vanilla Dreams' }

These two tables can be combined by using users' fav field and products' id field.

Example : Join users and products to see the name of the users favorite product:

mycursor = mydb.cursor()
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

Note: You can use JOIN instead of INNER JOIN. They will both give you the same result.